<!-- Модальное окно для создания рассылки -->
<div class="modal" id="createNewsletterModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="createNewsletterForm">
                <div class="modal-header">
                    <h5 class="modal-title">Создать рассылку</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="subject">Тема:</label>
                        <input type="text" class="form-control" id="subject" name="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Сообщение:</label>
                        <textarea class="form-control" id="message" name="message" required></textarea>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="sendToAll" name="sendToAll">
                        <label class="form-check-label" for="sendToAll">Отправить всем подписчикам</label>
                    </div>
                    <input type="hidden" id="sendToAllValue" name="sendToAllValue" value="false"> <!-- Скрытое поле -->
                    <div id="individualFields" class="mt-3" style="display: none;">
                        <div class="form-group">
                            <label for="first_name">Имя:</label>
                            <input type="text" class="form-control" id="first_name" name="first_name">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Фамилия:</label>
                            <input type="text" class="form-control" id="last_name" name="last_name">
                        </div>
                        <div class="form-group">
                            <label for="birthday">День рождения:</label>
                            <input type="date" class="form-control" id="birthday" name="birthday">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>
